.grid {
    margin: 0 6.25%
}

@media screen and (min-width:768px) {
    .grid {
        display: inline-block;
        width: 83.33%;
        max-width: 1200px;
        text-align: left
    }
}


#home-page {
    padding-bottom: 90px;
    overflow: hidden
}

.projects-item {
    margin-bottom: 60px
}

@media screen and (min-width:768px) {
    .projects-item {
        position: relative;
        width: 30%;
        float: left;
        margin-bottom: 0
    }

    .projects-item:nth-child(3n+1) {
        width: 60%;
        clear: both;
        margin-top: 120px
    }

    .projects-item:nth-child(6n+1) {
        margin-left: 35%
    }

    .projects-item:nth-child(6n+4) {
        margin-left: 10%
    }

    .projects-item:nth-child(6n+2),
    .projects-item:nth-child(6n+6) {
        margin-top: 90px;
        margin-left: 15%
    }

    .projects-item:nth-child(6n+3),
    .projects-item:nth-child(6n+5) {
        margin-top: 240px;
        margin-left: 20%
    }

    .projects-item:first-child {
        margin-top: 60px
    }
}

.projects-item-link {
    position: relative;
    display: block
}


@media screen and (min-width:768px) {
    .projects-item-color-overlay {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        display: block;
        visibility: visible;
        transform-origin: top;
        backface-visibility: hidden;
        z-index: 2
    }
}

.projects-item-img-wrapper {
    position: relative;
    display: block;
    overflow: hidden
}

.projects-item-img-wrapper::before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 62.5%;
    z-index: 2
}

.projects-item-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    transform: translateX(-50%);
    backface-visibility: hidden;
    transition: opacity .8s
}

@media screen and (min-width:768px) {
    .projects-item-img-wrapper::before {
        padding-bottom: 125%
    }

    .projects-item:nth-child(3n+1) .projects-item-img-wrapper::before {
        padding-bottom: 62.5%
    }
}