<!-- form goes here -->

    <form action="https://formspree.io/mail@siddharthjha.com" method="POST">  
        <div class="field-name">
            <i class="fas fa-user"></i>
            <input name="name" type="text" placeholder="Tony Stark" required>
        </div>
        <div class="field-email">
            <i class="fas fa-envelope"></i>
            <input name="email" type="email" placeholder="iron-man@avengers.com" required>
        </div>
        <div class="field-message">
            <i class="fas fa-comment"></i>
            <textarea name="message" placeholder="design new suit pls, hulk broke all of mine" rows="5" required></textarea>
        </div>
        <input class="field-submit" type="submit" value="Send Message">
    </form>