<header class="header">
    <div class="wrapper">
        <nav class="nav">

            <div class="logo">Siddharth Jha</div>

            <ul class="nav-links">
                <li><a href="">About</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            <ul class="social-links">
                <li><a href=""><img src="./assets/images/insta.svg" alt="Instagram" height="16px" width="24px"></a></li>
                <li><a href=""><img src="./assets/images/dribbble.svg" alt="Dribbble" height="16px" width="24px"></a></li>
                <li><a href=""><img src="./assets/images/linkedin.svg" alt="LinkedIn" height="16px" width="24px"></a></li>
            </ul>

        </nav>
    </div>
</header>