<header class="header">
    <div class="wrapper">
        <nav class="nav">

            <div class="logo">
                <a href="{{ site.baseurl }}/">sid.</a>
            </div>

            <div class="burger">
                <svg width="47px" height="30px" viewBox="0 0 47 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g id="icons" transform="translate(-309.000000, -19.000000)" stroke="#000000" stroke-width="2">
                            <path d="M310,20.5 L355,20.5 L310,20.5 Z M322,33.5 L355,33.5 L322,33.5 Z M334,47.5 L355,47.5 L334,47.5 Z" id="burger"></path>
                        </g>
                    </g>
                </svg>
            </div>
    

            <ul class="nav-links">
                <li><a href="" class="underline">About</a></li>
                <li><a href="" class="underline">Projects</a></li>
                <li><a href="{{ site.baseurl }}/blog/" class="underline">Blog</a></li>
                <li><a href="" class="underline">Contact</a></li>
            </ul>

            <ul class="social-links">
                <li><a href="https://www.instagram.com/clearlysid" class="grow"><img src="{{ site.baseurl }}/assets/images/insta.svg" alt="Instagram" height="20px" width="20px"></a></li>
                <li><a href="https://www.dribbble.com/clearlysid" class="grow"><img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt="Dribbble" height="20px" width="20px"></a></li>
                <li><a href="https://www.linkedin.com/clearlysid" class="grow"><img src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="LinkedIn" height="20px" width="20px"></a></li>
                <li><a href="https://www.twitter.com/clearlysid" class="grow"><img src="{{ site.baseurl }}/assets/images/twitter.svg" alt="Twitter" height="20px" width="20px"></a></li>
                <!-- <li><a href="https://www.github.com/clearlysid" class="grow"><img src="{{ site.baseurl }}/assets/images/github.svg" alt="Github" height="20px" width="20px"></a></li> -->
            </ul>

            
        </nav>
    </div>
</header>