.transition-flow-up {
    transform-origin: bottom;
    transition: 1s transform cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    transform: translateY(0);
}

.transition-flow-up:nth-child(1) {
    transition-duration: 1.3s;
}
.transition-flow-up:nth-child(2) {
    transition-duration: 1.1s;
}
.transition-flow-up:nth-child(3) {
    transition-duration: 1.4s;
}
.transition-flow-up:nth-child(4) {
    transition-duration: 1.2s;
}
.transition-flow-up:nth-child(5) {
    transition-duration: 1.4s;
}

html.is-animating .transition-flow-up {
    transform: translateY(calc(-100vh - 30px));
}

.project-revealer {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: darkgrey;
    z-index: 9;
}

.home-revealer {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: darkgrey;
    transform: translateY(-200%);
}

.transition-revealer-show {
    transition: 1s transform cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateY(0);
}

html.is-leaving .transition-revealer-show {
    transform: translateY(-100%);
}

html.is-animating .transition-revealer-hide {
    transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-100%);
}


