.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }


.revealer {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
}