@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    50% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    }
}

@keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    fill: white;
}



.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #888888;
    height: 0.07rem;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
  
.hvr-underline:hover:before,
.hvr-underline:focus:before,
.hvr-underline:active:before {
    right: 0;
}