@mixin same-size($sz) {
	width: $sz;
	height: $sz;
}

// container for animation
.loader {
	--sz: 4rem;
	width: calc(var(--sz) * 2);
	height: var(--sz);
	margin: auto; // centers along both main and cross axis in flex containers
	display: flex;
	justify-content: space-evenly;
}

// each half of the animation container
.loader__sq {
	// size of each loader piece circle/triangle;
	--p-sz: calc(var(--sz) / 4);
	// margin offset so each half of the container overlaps a bit
	--m-offset: calc((var(--p-sz) * -1) * 0.75);
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	height: 100%;
	width: 50%;

	&::before,
	&::after {
		@include same-size(var(--p-sz));
		content: "";
		position: relative;
		// transform is what's being animated
		transform: translateY(calc((var(--sz) - var(--p-sz)) * -1));

		animation: loader-box-bounce 0.5s cubic-bezier(0.3, 0.5, 0.4, 0.95)
			calc(var(--i) * 0.06s) infinite alternate-reverse;
	}

	&:first-of-type {
		margin-right: var(--m-offset);

		// first el animated and first visual element
		&::before {
			--i: 1;
			border: 1px solid #000
		}

		// second element visually; third el animated
		&::after {
			--i: 3;
			background-color: #000;
			// make the loader pieces triangles in supporting browsers
			@supports (clip-path: circle()) {
				clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
			}
		}
	}

	&:nth-of-type(2) {

		// third element visually; 2nd el animated
		&::before {
			--i: 2;
			border: 1px solid #000;
		}
		
		// fourth element visually, fourth el animated
		&::after {
			--i: 4;
			background-color: #000;
			border-radius: 50%;
			
			@supports (clip-path: circle()) {
				border-radius: 0;
				clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			}
		}

	}
}

@keyframes loader-box-bounce {
	to {
		transform: translateY(0);
	}
}

@keyframes swipe {
    from {
        -webkit-transform: translateX(-15%);
    }
    to {
        -webkit-transform: translateX(+15%);
    }
	
}

.burger--spin .burger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger--spin .burger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.burger--spin .burger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.burger--spin.is-active .burger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burger--spin.is-active .burger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.burger--spin.is-active .burger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}



.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.nav-menu {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
    display: block;
    margin: 0.25em 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
}

.nav-link.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
}

.nav-link.is-opened {transition-duration: 0.8s;}
.nav-link:nth-of-type(1) {transition-delay: 0.25s;}
.nav-link.is-opened:nth-of-type(1) {transition-delay: 1s;}
.nav-link:nth-of-type(2) {transition-delay: 0.2s;}
.nav-link.is-opened:nth-of-type(2) {transition-delay: 1.1s;}
.nav-link:nth-of-type(3) {transition-delay: 0.15s;}
.nav-link.is-opened:nth-of-type(3) {transition-delay: 1.2s;}
.nav-link:nth-of-type(4) {transition-delay: 0.1s;}
.nav-link.is-opened:nth-of-type(4) {transition-delay: 1.3s;}