// .overlay {
//     position: absolute;
//     top: 100vh;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     background-color: lightgray;
//     z-index: 5;
//     overflow: hidden;
// }

// .transition-overlay-show-up {
//     // transform: translateY(100vh);
//     transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
// }

// html.is-leaving .transition-overlay-show-up {
//     transform: translateY(-100%);
// }

// html.is-rendering .transition-overlay-hide-up {
//     transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
//     transform: translateY(-200vh);
// }

// .transition-overlay-show-down {
//     transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
// }

// html.is-leaving .transition-overlay-show-down {
//     transform: translateY(-100%);
// }

// html.is-rendering .transition-overlay-hide-down {
//     transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
//     transform: translateY(0vh);
// }

// .transition-flow-up:nth-child(1) {
//     transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1);
// }
// .transition-flow-up:nth-child(2) {
//     transition: 1.4s cubic-bezier(0.86, 0, 0.07, 1);
// }
// .transition-flow-up:nth-child(3) {
//     transition: 1.4s cubic-bezier(0.86, 0, 0.07, 1);
// }
// .transition-flow-up:nth-child(4) {
//     transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
// }


// html.is-leaving .transition-flow-up {
//     transform: translateY(-200vh);
// }