.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: lightgray;
    z-index: 5;
    
}

.transition-overlay {
    transform-origin: center;
    transform: translateY(100vh);
    transition: 0.5s ease-in-out;
}

html.is-leaving .transition-overlay {
    transform: translateY(0);
}

html.is-rendering .transition-overlay {
    transform: translateY(-100vh);
}