:root { font-size: $root-font-size; }
@media screen and (max-width: 767px) {:root { font-size: $root-font-size-mobile; }}

html { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}



a { colour: inherit; }
a:link { text-decoration: none; color: inherit;}
a:visited { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color:inherit; }
a:focus { text-decoration: none; color:inherit; }
a:hover, a:active { text-decoration: none; color:inherit; }

body {
    background-color: $background-colour;
    max-width: 100vw;
}

h1 {
    font-family: $heading-font;
    font-size: 4em;
    line-height: 1.1;
    padding: 0 1rem;
    margin-top: 4rem;
}


h2 {
    font-family: $heading-font;
    font-size: 2.8em;
    line-height: 1.3;
    padding: 0 1rem;
    margin-top: 2rem;
}

h3 {
    font-family: $heading-font;
    font-size: 2em;
    line-height: 1.25;
    padding: 0 1rem;
    margin-top: 2rem;
}

p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6;
    colour: rgba(0, 0, 0, 0.7);
    padding: 0 1rem;
}

#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 4px solid black;
    position: fixed;
    border-radius: 4px;
    z-index: 100;
    pointer-events: none;
    transition: border-color 0.5s;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid #750c7e;
    position: fixed;
    border-radius: 100px;
    z-index: 200;
    pointer-events: none;
}

html {
    cursor: none !important;
}

a {
    cursor: none !important;
}