:root { font-size: $root-font-size; }

html { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12'%3E%3Cellipse cx='6' cy='6' rx='3' ry='3' style='fill:black' /%3E%3C/svg%3E"), auto;
}

a {
    cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12'%3E%3Cellipse cx='6' cy='6' rx='3' ry='3' style='fill:black' /%3E%3C/svg%3E"), auto;
    color: inherit;
}

a:link {text-decoration: none; color: inherit;}
a:visited {text-decoration: none; color: inherit;}
a:hover {text-decoration: none; color:inherit;}
a:focus {text-decoration: none; color:inherit;}
a:hover, a:active {text-decoration: none; color:inherit;}

body {
    background-color: $background-colour;
}

body::-webkit-scrollbar { width: 0 !important }

h1 {
    font-family: $heading-font;
    font-size: 3.5rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    font-weight: 800;
}

h2 {
    font-family: $heading-font;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-weight: 500;
}

h3 {
    font-family: $heading-font;
    font-size: 1.4rem;
    line-height: 1.25;
    letter-spacing: -0.02em;
    font-weight: 400;
}

@media only screen and (max-width: 800px) {
    h1 {font-size: 2.4rem;}
    h2 {font-size: 1.6rem;}
    h3 {font-size: 1.2rem;}
}

p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    padding-bottom: 1rem;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    position: fixed;
    border-radius: 100px;
    z-index: 200;
    pointer-events: none;
}

::selection {
    background-color: #cccccc;
}

.light {filter: invert(1);}