:root { font-size: $root-font-size; }

html { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a { colour: inherit; }
a:link { text-decoration: none; color: inherit;}
a:visited { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color:inherit; }
a:focus { text-decoration: none; color:inherit; }
a:hover, a:active { text-decoration: none; color:inherit; }

body {
    // background: linear-gradient(25deg, #25242910 0%, #2E2D3310 98%);
    background-color: #fdfdfd;
    max-width: 100vw;
}

body.dark {
    background-color: #222222;
    max-width: 100vw;

    .social {
        fill: white;
    }
}