:root { font-size: $root-font-size; }
@media screen and (max-width: 767px) {:root { font-size: $root-font-size-mobile; }}

html { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: url("https://img.icons8.com/material-sharp/8/000000/filled-circle.png"), auto;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}



a { colour: inherit; }
a:link { text-decoration: none; color: inherit;}
a:visited { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color:inherit; }
a:focus { text-decoration: none; color:inherit; }
a:hover, a:active { text-decoration: none; color:inherit; }

body {
    background-color: $background-colour;
    max-width: 100vw;
}

h1 {
    font-family: $heading-font;
    font-size: 4em;
    line-height: 1.1;
    padding: 0 1rem;
    margin-top: 4rem;
}


h2 {
    font-family: $heading-font;
    font-size: 2.8em;
    line-height: 1.3;
    padding: 0 1rem;
    margin-top: 2rem;
}

h3 {
    font-family: $heading-font;
    font-size: 2em;
    line-height: 1.25;
    padding: 0 1rem;
    margin-top: 2rem;
}

p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6;
    colour: rgba(0, 0, 0, 0.7);
    padding: 0 1rem;
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid black;
    // position: absolute;
    position: fixed;
    border-radius: 100px;
    z-index: 200;
    pointer-events: none;
    transition: background 0.2s ease-in-out;
}

a {
    cursor: url("https://img.icons8.com/material-sharp/8/000000/filled-circle.png"), auto;
}

::selection {
    background-color: #cccccc;
}

.link-hover {
    background: rgba(0, 0, 0, 0.185);
}

.preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #efefef;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: none;
}

.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }