.top-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;

    a {
        padding: 0 0.5em;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}



.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.mail-link {
    font-size: 0.6em;

    svg {
        margin-right: 1em;
    }
}

.social-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;

    li {
        margin: 0 0.25em;
        padding: 0 0.25em;
        fill: black;
        border-radius: 10rem;
    }
}
