nav {
    height: 3rem;
    width: 100%;
    position: relative; // change to relative to bring inline
}

.nav-head {
    z-index: 7;
    position: absolute;
    margin: 0.5rem 0rem 0.5rem 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #888888;
    margin: 1rem auto 0rem;;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex: 1;
    max-width: 18vw;
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 0.5rem 1rem 0.5rem 0rem;
}

.nav-button {
    text-transform: uppercase;
    font-family: $heading-font;
    font-weight: 300;
    margin: 0 1rem;
    padding-bottom: 0.2rem;
}

.social {
    fill: black;
    padding: 0.4rem;
    padding-bottom: 0rem;
    border-radius: 10rem;
}

@media screen and (max-width: 768px){

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
    }

    .nav-head {
        flex-grow: 0;
        width: 100%;
        margin-left: 0;
        position: absolute;        
    }

    .nav-tail {
        display: flex;
        flex-direction: column;
        background-color: white;
        background-color: orange;
        width: 100%;
        height: 100vh;
        position: relative;
        clip-path: circle(0 at calc(100% - 1.5rem) calc(0% + 1.5rem));
        -webkit-clip-path: circle(0 at calc(100% - 1.5rem) calc(0% + 1.5rem));
        transition: all 1s cubic-bezier(.22,1.53,.38,.67);
        z-index: 6;
    }

    .logo {
        float: left;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }
    .burger {
        display: block;
        float: right;
        margin: 0.5rem 1rem 0.5rem 1rem;
        cursor: pointer;
        pointer-events: all;
    }

    .nav-links {
        position: static;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 80vh;
        margin-top: 10vh;
    }

    .nav-button {
        text-transform: none;
        font-family: $heading-font;
        font-weight: 900;
        letter-spacing: 0.1rem;
        font-size: 2rem;
    }

    .socials {
        position: static;
        flex-grow: 1;
        max-width: 80%;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        margin: 5vh auto 10vh auto;
        // background-color: aqua;
    }

    .social {
        margin: 0 auto;
    }

    .nav-tail.open {
        clip-path: circle(110vmax at calc(100% - 1.5rem) calc(0% + 1.5rem));  // 92% 4%
        -webkit-clip-path: circle(110vmax at calc(100% - 1.5rem) calc(0% + 1.5rem));
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;

    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    li.fade {
        opacity: 1;
    }

}

footer {
    position: absolute;
    left: 0;
    bottom: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.021);
    text-align: center;
    z-index: 10;
    font-size: 0.8rem;
}

@media screen and (min-width: 769px){

    .burger {
        display: none;
    }

    .icon-twitter:hover {
        transition: all 0.4s ease;
        background-color: #38A1F3;
    }

    .icon-insta:hover {
        transition: all 0.4s ease;
        background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 30%,#d6249f 60%,#285AEB 90%);
    }

    .icon-dribbble:hover {
        transition: all 0.4s ease;
        background-color: #ea4c89;
    }

    .icon-github:hover {
        transition: all 0.4s ease;
        background-color: #6e5494;
    }

    .icon-linkedin:hover {
        transition: all 0.4s ease;
        background-color: #0077B5;
    }
}