.hero {
    position: static;
    display: grid;
    max-width: 60vw;
    width: 100%;
    min-width: 800px;
    height: 55vh;
    margin: 0 auto;
    margin-top: 5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1;
}

.hero-text {
    grid-column: 1 / 4;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 50vh;
}

.hero-image {
    mix-blend-mode: hard-light;
    grid-column: 3 / 5;
    grid-row: 1;

    img {
        height: 60vh;
        margin-left: 100px;
    }
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-list {
        position: fixed;
        bottom: 0;
        max-width: 100%;
        padding: 0 2vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: end;
        z-index: 10;
}

.project-item {
    margin: 0 1vw;
}



.project-item-title {
    font-family: Noah;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    margin: 0;
	line-height: 1;
	position: absolute;
	z-index: 100;
    display: block;
	position: relative;
	text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.3;
}

.project-item-bg {
    display: block;
    background-color:white;
    position: absolute;
	top: -1rem;
    left: -1rem;
	width: 90%;
	height: 200%;
}

.project-item:nth-child(1) { 
    height: 35vh;
}
.project-item:nth-child(2) { 
    height: 40vh;
}
.project-item:nth-child(3) { 
    height: 30vh;
}
.project-item:nth-child(4) { 
    height: 25vh;
}
.project-item:nth-child(5) { 
    height: 30vh;
}

.project-item-img {
    display: block;
	flex: none;
	margin: 0 auto;
	max-width: 100%;
    filter: grayscale(0.2);
    opacity: 0.2;
	transition: filter 0.3s;
	transition: opacity 0.3s;
}

.project-item:hover .project-item-img {
    filter: grayscale(0);
    opacity: 1;
}

.project-item:hover .project-item-title {
    opacity: 1;
}

.smooth .project-item-img, .smooth .project-item-bg, .smooth .project-item-title {
    transition: transform 0.2s ease-out;
}



// Navigation Menu

.primary-nav-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 280px;
    z-index: 2;
    margin-left: auto;
    border-radius: 50%;
}

.burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh 4vh;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
}


.back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vh 4vh;

    img {
        width: 35px;
    }
}

.temp-mobile {
    display: block;
    background-color: white;
    z-index: 999;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30vh;
}


@media screen and (min-width: 800px) {
    .temp-mobile {
        display: none;
    }
}

