.burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 4;       
}
  
.burger-box {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
}

.burger-inner, .burger-inner::before, .burger-inner::after {
    width: 2.1rem;
    height: 0.16rem;
    background-color: #000;
    border-radius: 0.12rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    z-index: 200;
    content: "";
    display: block;
}

.burger-inner {top: 50%; margin-top: -0.12rem;}
.burger-inner::before {top: -0.6rem;}
.burger-inner::after {bottom: -0.6rem;}

.overlay {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.overlay-path {fill: #cccccc;}


#pointer-ring {display: none;}
@media screen and (max-width: 800px) {:root { font-size: 4vw; }}

.social-icons {
    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin: 1rem;
        margin-left: 0;
        opacity: 0.2;
    }
}

.project-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: center;
}

.project-item {
    width: 100vw;
    margin: 0 2rem 4rem;
}

.project-item-title {
    font-family: Noah;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}

.project-item-img {
    display: block;
    flex: none;
    margin: 0 auto;
    max-height: 40rem;
    max-width: 80vw;
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    svg {width: 2rem;}
} 

footer {
    width: 100vw;
    padding: 0.6rem 0;

    p {
        text-align: center;
        font-size: 12px;
        opacity: 0.2;
    }

}

#home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 4rem;
    align-items: center;

    .avatar {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }

    h1 {
        margin-top: 1rem; 

        span {
            display: none;
        }
    }

    p {
        text-align: center;
        width: 86%;
    }

    p + p {
        display: none;
    }
}


.blog-home {
    max-width: 800px;
    width: 80vw;
    margin: 8rem auto;

    ul {
        list-style: none;
        margin-top: 4rem;

        a {
            display: inline-block;
            transition: border 0.2s ease;
            border: none;
        }

        a:hover {
            border-bottom: 2px solid black;
        }
    }   
}

.project-header {
    padding: 2.8rem;
    padding-top: 4rem;

    .project-background {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 36rem;
    }

    .project-description {
    }

    .project-metadata {
        display: flex;
        flex-direction: row;

        p {
            padding: 0;
        }
    }

    .project-feature {
        img {
            width: 80vw;
            height: auto;
        }
    }
}


article {
    padding-top: 2rem;
    h1, h2, h3, h4, h5, h6, p, ul {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }

    p, li {
        opacity: 0.8;
    }

    img {
        max-width: 100vw;
        padding: 1rem;
    }
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
   
.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}




// Desktop only styles begin here
@media only screen and (min-width: 800px) {
    #pointer-ring {display: initial;}

    #home {
        position: fixed;
        height: 100vh;
        width: 24rem;
        display: flex;
        flex-direction: column;
        align-items: initial;
        padding: 0;
        justify-content: center;
        padding-bottom: 10vh;
        margin-left: 10rem;
        z-index: 2;
        opacity: 1;
    
        .avatar {
            height: 12rem;
            width: 12rem;
            transition: transform 0.2s ease-out, opacity 0.15s ease;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 800;
            transition: transform 0.2s ease-out 0.05s, opacity 0.15s ease 0.05s;
        }
    
        p {
            text-align: initial;
            width: 100%;
            transition: transform 0.2s ease-out 0.1s, opacity 0.15s ease 0.1s;
        }
    
        p + p {
            display: initial;
            transition: transform 0.2s ease-out 0.15s, opacity 0.15s ease 0.15s;
        }
    }

    #home.fade {
        * {
            opacity: 0;
            transform: translateX(-20%);
        }
    }

    footer {
        position: fixed;
        padding: 0;
        bottom: 0;
        left: 0;
        p {font-size: 0.7rem;}
    }

    .portfolio {
        position: absolute;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-list {
        display: flex;
        flex-direction: row;
        height: 36rem;
    }

    .project-item {
        margin: 0 0;
        margin-right: 6rem;
        height: 30rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
    }

    .project-item:nth-of-type(1) {
        margin-left: 40rem; // allows home to be visible
        align-self: center;
    }

    .project-item:nth-of-type(2) {
        align-self: flex-end;
    }

    .project-item:nth-of-type(3) {
        align-self: flex-start;
    }

    .project-item:nth-of-type(4) {
        align-self: center;
    }

    .project-item-title {
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        margin: 0;
        font-size: 1rem;
        opacity: 0.5;
        transition: opacity 0.2s;
    }

    .project-item-img {
        margin: 0 auto;
        max-width: 100%;
    }

    .project-item:hover .project-item-title {
        opacity: 1;
    }

    .project-header {
        // height: 36rem;
        padding: 6rem 0;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .project-title {
            grid-row: 1;
            grid-column: 1;
        }

        .project-description {
            font-size: 20px;
            grid-column: 1;
            grid-row: 3;
            width: 80%;
        }

        .project-description:nth-of-type(2) {
            grid-row: 4;
        }

        .project-metadata {
            grid-column: 1;
            grid-row: 5;
        }

        .project-feature {
            grid-column: 2;
            grid-row: 1 / span 5;

            img {
                position: absolute;
                height: 24rem;
                width: auto;
                // max-width: 20rem;
                margin: 0 auto;
            }
        }

    }

    article {
        padding-top: 2rem;

        h1, h2, h3, h4, h5, h6, p, ul {
            max-width: 740px;
            padding-right: 0;
            padding-left: 0;
            margin: auto;
        }
    
        p, li {
            opacity: 0.8;
            font-size: 20px;
        }

        h2 {
            margin-top: 2rem;
        }
    
        figure{
            width: 800px;
            margin: 0 auto;

            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

}



