.logo {
    height: 4em;
    width: 4em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    z-index: 10;
}

// Navigation Styling for Desktop

@media screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 1em;
    
        a {
            padding: 0 0.5em;
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }

    .burger {
        display: none;
    }

    .nav-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        align-items: center;
    }
    

    .mail-link {
        font-size: 0.6em;
        svg {
            margin-right: 1em;
            margin-bottom: -0.1em;  // this aligns is vertically with the email id
        }
    }
    
    .social-links {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
    
        li {
            margin: 0 0.25em;
            padding: 0 0.25em;
            border-radius: 10rem;
        }
    }

}


// Navigation Styling for Mobile

@media screen and (max-width: 767px) {

    

    .burger {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1em;
        cursor: pointer;
        pointer-events: all;
        z-index: 10;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        background-color: #efefef;
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        z-index: 8;
    }

    .main-nav.open {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        pointer-events: all;

    }

    .nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        height: 70vh;
        padding: 20vh 3em;
    
        a {
            text-transform: uppercase;
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 0.5em;
            text-align: center;
        }
    }

    .nav-bottom {
        display: flex;
        flex-direction: column-reverse;
        height: 30vh;
        width: 80%;
        margin: 0 auto 10vh;
        align-items: center;
    }

    .social-links {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1em;
    
        li {
            margin: 0 0.25em;
            padding: 0 0.25em;
            border-radius: 10rem;
        }
    }


}






