.hero {
    display: grid;
    max-width: 60vw;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: repeat(5, 1fr);
}

.hero-text {
    grid-column: 1 / 4;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
    font-size: 1.1rem;

    h3 {
        font-size: 2.6rem;
    }
}

.hero-image {
    grid-column: 3 / 5;
    grid-row: 1;

    img {
        height: 28vw;
        margin-left: 100px;
    }
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.8rem 0;
        opacity: 0.4;
        transition: all 0.3s ease;

        p {
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        svg {
            height: 1rem;
            width: 1rem;
            fill: black;
        }
    }

    a:hover {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

.project-list {
        position: fixed;
        max-width: 100%;
        padding: 0 2vw;
        margin: -1rem auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: end;
        z-index: 10;
}

.project-item {
    margin: 0 1vw;
}

.project-item-title {
    font-family: Noah;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    margin: 0;
	line-height: 1;
	position: absolute;
	z-index: 100;
    display: block;
	position: relative;
    font-size: 1rem;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.project-item-bg {
    display: block;
    background-color:white;
    position: absolute;
	top: -1rem;
    left: -1rem;
	width: 90%;
	height: calc(100% + 1rem);
}

.project-item:nth-child(1) { //7
    height: 35vh;
}
.project-item:nth-child(2) {  // 8
    height: 40vh;
}
.project-item:nth-child(3) { //6
    height: 30vh;
}
.project-item:nth-child(4) { // 5
    height: 25vh;
}
.project-item:nth-child(5) {  // 6
    height: 30vh;
}

.project-item-img {
    display: block;
	flex: none;
	margin: 0 auto;
	max-width: 100%;
}

.project-item:hover .project-item-title {
    opacity: 1;
}

.smooth .project-item-img, .smooth .project-item-bg, .smooth .project-item-title {
    transition: transform 0.2s ease-out;
}



// Navigation Menu

.primary-nav-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 280px;
    z-index: 60;
    margin-left: auto;
    border-radius: 50%;
}

.burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh 4vh;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
}


.back-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2vh 4vh;

    img {
        width: 35px;
    }
}

.temp-mobile {
    display: none;
}

// mobile-only styling
@media screen and (max-width: 600px) {
    :root { font-size: 4vw; }

    main {
        display: none;
    }

    .temp-mobile {
        display: block;
        background-color: #efefef;
        z-index: 999;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 2.8rem;

        span {background-color: #dddddd;}

        .picture {
            background-image: url(/assets/images/phone.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
            margin: 1rem;
        }
    }


}