.hero {
    position: static;
    display: grid;
    max-width: 60vw;
    width: 100%;
    min-width: 800px;
    height: 55vh;
    margin: 0 auto;
    margin-top: 5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1;
}

.hero-text {
    grid-column: 1 / 4;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 50vh;
}

.hero-image {
    mix-blend-mode: hard-light;
    grid-column: 3 / 5;
    grid-row: 1;

    img {
        height: 60vh;
        margin-left: 100px;
    }
}

.project-list {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 2vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: end;
}

.project-item {
    margin: 0 1vw;
}

.project-item-title {
    font-family: Noah;
    text-align: right;
    width: 100%;
    font-weight: normal;
    transform: translateY(-30px);
}

.project-item:nth-child(1) { 
    height: 35vh;
}
.project-item:nth-child(2) { 
    height: 40vh;
}
.project-item:nth-child(3) { 
    height: 30vh;
}
.project-item:nth-child(4) { 
    height: 25vh;
}
.project-item:nth-child(5) { 
    height: 30vh;
}



.primary-nav-container {
    height: 280px;
    width: 280px;
    position: absolute;
    z-index: 2;
}

.primary-nav-container:hover {
    border-top-style: hidden;
}


.burger {
    position: absolute;
    margin-left: 2rem;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
}