.hero {
    display: grid;
    max-width: 60vw;
    width: 100%;
    min-width: 800px;
    height: 55vh;
    margin: 0 auto;
    margin-top: 5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1;
}

.hero-text {
    grid-column: 1 / 4;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 50vh;
}

.hero-image {
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
    grid-column: 3 / 5;
    grid-row: 1;

    img {
        height: 60vh;
        margin-left: 100px;
    }
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem;

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 2px solid black;
        padding: 0.5rem;

        p {
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        svg {
            height: 1rem;
            width: 1rem;
            fill: black;
        }
    }
}

.project-list {
        position: fixed;
        bottom: 0;
        max-width: 100%;
        padding: 0 2vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: end;
        z-index: 10;
}

.project-item {
    margin: 0 1vw;
}

.project-item-title {
    font-family: Noah;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    margin: 0;
	line-height: 1;
	position: absolute;
	z-index: 100;
    display: block;
	position: relative;
    font-size: 1rem;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.project-item-bg {
    display: block;
    background-color:white;
    position: absolute;
	top: -1rem;
    left: -1rem;
	width: 90%;
	height: calc(100% + 1rem);
}

.project-item:nth-child(1) { 
    height: 35vh;
}
.project-item:nth-child(2) { 
    height: 40vh;
}
.project-item:nth-child(3) { 
    height: 30vh;
}
.project-item:nth-child(4) { 
    height: 25vh;
}
.project-item:nth-child(5) { 
    height: 30vh;
}

.project-item-img {
    display: block;
	flex: none;
	margin: 0 auto;
	max-width: 100%;
    filter: grayscale(0.8);
    // opacity: 0.4;
	transition: all 0.3s;
}

.project-item:hover .project-item-img {
    filter: grayscale(0);
    // opacity: 1;
}

.project-item:hover .project-item-title {
    opacity: 1;
}

.smooth .project-item-img, .smooth .project-item-bg, .smooth .project-item-title {
    transition: transform 0.2s ease-out;
}



// Navigation Menu

.primary-nav-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 280px;
    z-index: 60;
    margin-left: auto;
    border-radius: 50%;
}

.burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh 4vh;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
}


.back-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2vh 4vh;

    img {
        width: 35px;
    }
}

.temp-mobile {
    display: none;
}

// mobile-only styling
@media screen and (max-width: 800px) {
    main {
        display: none;
    }

    .temp-mobile {
        display: block;
        background-color: white;
        z-index: 999;
        pointer-events: none;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 30vh;
    }
}