.burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 4;       
}
  
.burger-box {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
}

.burger-inner, .burger-inner::before, .burger-inner::after {
    width: 2.1rem;
    height: 0.16rem;
    background-color: #000;
    border-radius: 0.12rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    z-index: 200;
    content: "";
    display: block;
}

.burger-inner {top: 50%; margin-top: -0.12rem;}
.burger-inner::before {top: -0.6rem;}
.burger-inner::after {bottom: -0.6rem;}

.overlay {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.overlay-path {fill: #cccccc;}


#pointer-ring {display: none;}

// certain mobile-only queries
@media screen and (max-width: 800px) {
    :root { font-size: 4vw; }
    main {
        width: 100vw;
        overflow-x: hidden;
    }
}

body {
    overflow-x: hidden;
}

.social-icons {
    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin: 1rem;
        margin-left: 0;
        opacity: 0.2;
    }
}

.back-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    svg {width: 2rem;}
} 

footer {
    width: 100vw;
    padding: 0.6rem 0;

    p {
        text-align: center;
        font-size: 12px;
        opacity: 0.2;
    }

}

// Homepage Styles

#home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 4rem;
    align-items: center;

    .avatar {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }

    h1 {
        margin-top: 1rem;
        span {
            display: none;
        }
    }

    p {
        text-align: center;
        width: 86%;
    }

    p + p {
        display: none;
    }
}

// Portfolio Styles

@media screen and (max-width: 800px) {
    .portfolio {
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
    }
    
    .draggable {
        height: 24rem;
        width: 100%;
        position: absolute;
    }
    
    .project-list {
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        align-items: start;
        position: relative;
        pointer-events: none;
        will-change: transform;
    }
    
    .project-item {
        height: 100%;
        margin-right: 4rem;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        will-change: transform;
    }
    
    .project-item:first-child {
        margin-left: 4rem;
    }
    
    .img-outer {
        --imgheight: 20rem;
        height: var(--imgheight);
        width: calc(var(--imgheight) * 0.7);
        overflow: hidden;
        position: relative;
        flex: none;
    }
    
    .img-inner {
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        left: -1rem;
        top: -1rem;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
    }
    
    .project-item-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        user-select: none;
        pointer-events: all;
    }
}



// Blog Styles

.blog-home {
    max-width: 800px;
    width: 80vw;
    margin: 8rem auto;
    
    .post-list {
        list-style: none;
        margin-top: 4rem;

        li {
            margin: 1rem 0;
        }

        h3 {
            transition: border 0.2s ease;
            border-bottom: 2px solid transparent;
            display: inline-block;
        }

        a:hover h3 {
            border-bottom: 2px solid black;
        }
    }   
}

// Project Styles

.project-header {
    padding: 2.8rem;
    padding-top: 4rem;

    .project-background {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 36rem;
    }

    .project-description {
    }

    .project-metadata {
        display: flex;
        flex-direction: row;

        p {
            padding: 0;
        }
    }

    .project-feature {
        img {
            width: 80vw;
            height: auto;
        }
    }
}


article {
    padding-top: 2rem;
    h1, h2, h3, h4, h5, h6, p, ul {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }

    p, li {
        opacity: 0.8;
    }

    img {
        max-width: 100vw;
        padding: 1rem;
    }
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
   
.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

// Desktop only styles begin here
@media only screen and (min-width: 800px) {
    #pointer-ring {display: initial;}

    #home {
        position: absolute;
        height: 100vh;
        width: 24rem;
        display: flex;
        flex-direction: column;
        align-items: initial;
        padding: 0;
        justify-content: center;
        padding-bottom: 10vh;
        margin-left: 10rem;
        z-index: 2;
        opacity: 1;
    
        .avatar {
            height: 12rem;
            width: 12rem;
            transition: transform 0.2s ease-out, opacity 0.15s ease;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 800;
            transition: transform 0.2s ease-out 0.05s, opacity 0.15s ease 0.05s;
        }
    
        p {
            text-align: initial;
            width: 100%;
            transition: transform 0.2s ease-out 0.1s, opacity 0.15s ease 0.1s;
        }
    
        p + p {
            display: initial;
            transition: transform 0.2s ease-out 0.15s, opacity 0.15s ease 0.15s;
        }
    }

    footer {
        position: static;
        padding: 0;
        bottom: 0;
        left: 0;
        p {font-size: 0.7rem;}
    }

    .portfolio {
        position: relative;
        height: calc(100vh - 2.13rem);
        width: -moz-fit-content;
        width: fit-content;
    }
    
    .draggable {
        height: 24rem;
        top: calc(50% - 12rem);
        width: 100%;
        position: absolute;
        cursor: grab;
    }
    
    .draggable:active {
        cursor: grabbing;
    }
    
    .project-list {
        height: 100vh;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        align-items: start;
        position: relative;
        pointer-events: none;
        will-change: transform;
    }
    
    .project-item {
        height: 100%;
        margin-right: 4rem;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        will-change: transform;
    }
    
    .project-item:first-child {
        margin-left: 40rem;
    }
    
    .img-outer {
        --imgheight: 30rem;
        height: var(--imgheight);
        width: calc(var(--imgheight) * 0.7);
        overflow: hidden;
        position: relative;
        flex: none;
    }
    
    .img-inner {
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        left: -1rem;
        top: -1rem;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
    }
    
    .project-item-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        user-select: none;
        pointer-events: all;
    }

    .project-header {
        // height: 36rem;
        padding: 6rem 0;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .project-title {
            grid-row: 1;
            grid-column: 1;
        }

        .project-description {
            font-size: 20px;
            grid-column: 1;
            grid-row: 3;
            width: 80%;
        }

        .project-description:nth-of-type(2) {
            grid-row: 4;
        }

        .project-metadata {
            grid-column: 1;
            grid-row: 5;
        }

        .project-feature {
            grid-column: 2;
            grid-row: 1 / span 5;

            img {
                position: absolute;
                height: 24rem;
                width: auto;
                // max-width: 20rem;
                margin: 0 auto;
            }
        }

    }


    article {
        padding-top: 2rem;

        h1, h2, h3, h4, h5, h6, p, ul {
            max-width: 740px;
            padding-right: 0;
            padding-left: 0;
            margin: auto;
        }
    
        p, li {
            opacity: 0.8;
            font-size: 20px;
        }

        h2 {
            margin-top: 2rem;
        }
    
        figure{
            width: 800px;
            margin: 0 auto;

            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

}



