.ml3 {
    margin-top: 10vh;
    text-align: center;
}

.project-header {
    height: 60vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0 20vw;
    padding-top: 10vh;
    color: white;

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .project-title {
        margin: 0;
        padding: 0;
    }

    .project-type {
        font-family: $body-font;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .project-description {
        font-size: 1.4em;
        margin: 0;
        padding: 0;
    }
}

h1 {
    font-family: $heading-font;
    font-size: 4em;
    line-height: 1.1;
    padding: 0 1rem;
    margin-top: 4rem;
}


h2 {
    font-family: $heading-font;
    font-size: 2.8em;
    line-height: 1.3;
    padding: 0 1rem;
    margin-top: 2rem;
}

h3 {
    font-family: $heading-font;
    font-size: 2em;
    line-height: 1.25;
    padding: 0 1rem;
    margin-top: 2rem;
}

p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.8;
    colour: rgba(0, 0, 0, 0.7);
    padding: 0 1rem;
}

.case-study {
    max-width: 800px;
    margin: 0 auto;
    img {
        width: 100%;
        margin: 2em 0;
        filter: url(#noise);
    }
}


#project-grid {
    width: 90%;
    margin: 10vh auto;
    list-style: none;
    max-width: 1200px;
    // position: relative;
}

.project-item {
    margin-bottom: 60px;
    position: relative;
    width: 30%;
    // float: left;
    margin-bottom: 0;
    background-color: lavender;
    height: 400px;
}

// Alternating Wide Projects x 3
.project-item:nth-child(3n+1) {
    width: 60%;
    // clear: both;
    margin-top: 120px;
}

// First One, to the left.
.project-item:nth-child(6n+1) {
    margin-left: 10%;
}

.project-item:nth-child(6n+4) {
    margin-left: 35%;
}

.project-item:nth-child(6n+2),
.project-item:nth-child(6n+6) {
    margin-top: 240px;
    margin-left: 20%;
    display: inline-block;
}

.project-item:nth-child(6n+3),
.project-item:nth-child(6n+5) {
    // margin-top: 90px;
    margin-left: 5%;
    display: inline-block;
    width: 40%;
    transform: translateY(-120px);
}

.project-item-image {
    height: 100%;
    width: 100%;
    overflow:hidden;
    img {
        object-fit: cover;
    }
}
