
.container {
    display: inline-block; 
    width: 100%;
    height: 100vh;
    vertical-align: middle; 
    line-height: 100vh;
    text-align: center; 

}

.ml3 {
    font-family: 'DM Serif';
    font-size: 10vw;
}