---
# This is the SCSS file that will be compiled to the main stylesheet of the site
---

@import
  "_base",
  "_layouts",
  "_animations"
;


nav {
  display: flex;   
  justify-content: space-around;
  align-items: center;
  position: absolute;
  min-height: 8vh;
  width: 100%;
  background-color: aliceblue;

  .logo {
    position: relative;
    width: 20%;
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    min-width: 30%;
    list-style: none;
    margin: 0 auto;
  
    a{
      font-family: 'Heebo', sans-serif;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .social-links {
    list-style: none;
    display: inline-flex;
    width: 20%;
    position: absolute;
    left: 20px;

    li {
      margin: 0 10px;
    }
  }


}

