---
---
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-attachment: fixed;
}

.hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6em;
    text-align: center;
    position: absolute;
    line-height: 90%;
    top: 50%;
    left: 50%;
    color: whitesmoke;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(-50%, -50%); }
    65%  { transform: translate(-50%, -60%); }
    to   { transform: translate(-50%, -50%); }    
}

.hvr {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6em;
    text-align: center;
    position: absolute;
    line-height: 90%;
    top: 50%;
    left: 50%;
    color: whitesmoke;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr:hover, .hvr:focus, .hvr:active {
    color:whitesmoke;
  }
  .hvr:hover:before, .hvr:focus:before, .hvr:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }