:root {
    font-size: 18px;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); // everlasting sky
    //background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    //background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%); // royal garden
    background-attachment: fixed;
    font-family: 'Heebo', 'Helvetica', 'Arial' sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #55555;
    min-height: 100%;

}