.blog-posts {
    margin: 10vh auto;
    width: 70%;
    font-family: 'Heebo', 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #222222;

    li {
        display: flex;
        margin-bottom: 50px;
    }

    .post-index {
        font-family: 'Heebo', 'Helvetica', sans-serif;
        text-transform: uppercase;
        font-size: 0.6rem;
        text-align: center;
        font-weight: 400;
        color: #222222;
        padding: 0 0;
        min-width: 60px;
        width: 60px;

        .post-date {
            border: 2px #222222 solid;
            padding: 8px;
        }
    }

    .post-details {
        padding: 0 20px;
    }

    
    h1 {
        font-family: 'Heebo', 'Helvetica', sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        color: #222222;
    }
    
    ul {
        list-style: none;
    }
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}
