
// navigation styles start here

nav {
    height: 6vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: black;
    // background-color: rgba(0, 0, 0, 0.274);

    .logo  {
        margin-left: 20px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        width: 50px;
    }

    .nav-links {
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        a {
            font-family: 'Heebo', sans-serif;
            font-size: 0.9rem;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 0 20px;
        }
    }

    .social-links {
        list-style: none;
        margin-right: 20px;
        display: flex;
        justify-content: space-around;
        width: 50px;
        li {
            margin-right: 10px;
        }
    }
}



form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 100%;

    .field-name,
    .field-email,
    .field-message {
        display: flex;
    }

    input, textarea {
        width: 100%;
        border: none;
        font-family: 'Heebo', 'Helvetica', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 10px 10px;
    }

    .field-submit {
        width: 100%;
        background-color: aquamarine;
        color: black;
        margin: 0px 0px;
        padding: 10px 10px;
    }

    i {
        align-content: center;
        margin: 20px 20px;
    }    
}

body {
    display: flex;
    flex-direction: column;
}



// footer style starts here

footer {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.3) 100%);
    color: white;
    font-size: 12px;
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: 'Heebo', sans-serif;
}