<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="temp-mobile" style="z-index: 999; overflow: hidden;">
        <div class="picture"></div>
        <h2>Hello,<br>I'm Sid  &#x270C</h2>
        <p>Thanks for checking out my portfolio!</p><br>
        <p>I'm new to coding and am still struggling to make this site look good on mobile &#128531<br><br>
        But while I figure things out, why not view it on desktop or checkout my work on <a href="https://www.behance.net/siddharth-jha"><span>Behance</span></a> instead?</p>
    </div>

    {% include nav.html %}

    <main id="swup"> 
    {{ content }}
    </main>

    <div id="overlay"></div>
    
    <script src="{{ site.baseurl }}/js/anime.min.js"></script>
    <script src="{{ site.baseurl }}/js/swup.min.js"></script>
    <script src="{{ site.baseurl }}/js/swupjs.min.js"></script>
    <script src="{{ site.baseurl }}/js/sal.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script> -->
    <script src="{{ site.baseurl }}/js/app.js"></script>
</body>
</html>