<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="temp-mobile" style="z-index: 999;">
        <center>
            <h2>Hello,</h2>
            <p>I'm still working on optimizing this site to run on mobile.</p>
            <p>Meanwhile, why not try viewing this on a desktop instead?</p>
        </center>
    </div>

    {% include nav.html %}

    <!-- needs swup id here  -->
    <main > 
    {{ content }}
    </main>

    
    <script src="{{ site.baseurl }}/js/anime.min.js"></script>
    <script src="{{ site.baseurl }}/js/swup.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>
</body>
</html>