---
layout: default
---
<header class="project-header" style="background-color:#{{ page.color }}">
    <h1 class="project-title">{{ page.title }}</h1>
    <p class="project-description">{{ page.description }}</p>
    <div class="project-meta">
        <div class="project-year">
            <h3>TYPE</h3>
            <li>{{ page.client }}</li>
            <li>{{ page.year }}</li>
        </div>
        <div class="project-stack">
            <h3>STACK</h3>
            <ul>
                <li>{{ page.stack1 }}</li>
                <li>{{ page.stack2 }}</li>
            </ul>
        </div>
        <div class="project-role">
            <h3>ROLE</h3>
            <ul>
                <li>{{ page.role1 }}</li>
                <li>{{ page.role2 }}</li>
            </ul>
        </div>
    </div>
    
    <div class="project-feature lax" data-lax-preset="lazy">{{ page.feature }}</div>
</header>

<a href="{{ site.baseurl }}/index.html" class="back-button" data-swup-transition="home-page"><img src="{{ site.baseurl }}/assets/icons/back.svg" alt=""></a>

{{ content }}

<footer>
    <div class="footer-nav">
        <div class="previous-project">
            
        </div>
        <div class="contact">
            <h3>Thanks for reading!</h3>
            <p>I'm also learning to code, and built this whole website myself.<br>
                So if you find something broken, don't hesitate to give me a shout. <br>
                For ALL of my graphic design work, head over to my behance page.
            </p>
            <div class="contact-links">
                <a href="mailto:mail@siddharthjha.com">
                    <p>Send Email</p>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462 86H50c-27.354 0-50 22.214-50 50v240c0 27.57 22.43 50 50 50h412c27.57 0 50-22.43 50-50V136c0-27.419-22.319-50-50-50zm-38.752 40L256 232.302 88.752 126h334.496zM472 376c0 5.514-4.486 10-10 10H50c-5.514 0-10-4.486-10-10V142.41l205.271 130.469a20 20 0 0021.457 0L472 142.41V376z"/></svg> -->
                </a>
                <a href="{{ site.baseurl }}/index.html" data-swup-transition="home-page">
                    <p>See another project</p>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M426 0H187.91c-5.254 0-10.349 2.141-13.993 5.71L42.007 134.883c-3.863 3.784-6.007 9.035-6.007 14.29v313.45C36 489.849 58.43 512 86 512h340c27.57 0 50-22.151 50-49.377V49.377C476 22.151 453.57 0 426 0zM167.91 67.578v61.595h-62.9l62.9-61.595zM436 462.623c0 5.171-4.486 9.377-10 9.377H86c-5.514 0-10-4.207-10-9.377v-293.45h111.91c11.046 0 20-8.954 20-20V40H426c5.514 0 10 4.207 10 9.377v413.246z"/></svg> -->
                </a>
                <a href="https://www.behance.net/siddharth-jha" data-swup-transition="home-page">
                    <p>Behance</p>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M426 0H187.91c-5.254 0-10.349 2.141-13.993 5.71L42.007 134.883c-3.863 3.784-6.007 9.035-6.007 14.29v313.45C36 489.849 58.43 512 86 512h340c27.57 0 50-22.151 50-49.377V49.377C476 22.151 453.57 0 426 0zM167.91 67.578v61.595h-62.9l62.9-61.595zM436 462.623c0 5.171-4.486 9.377-10 9.377H86c-5.514 0-10-4.207-10-9.377v-293.45h111.91c11.046 0 20-8.954 20-20V40H426c5.514 0 10 4.207 10 9.377v413.246z"/></svg> -->
                </a>
            </div>
        </div>
        <div class="next-project">
        </div>
    </div>
</footer>