---
layout: default
---
<header class="project-header" style="background-color:#{{ page.color }} ;">
    <div class="header-text">
        <h1 class="project-title">{{ page.title }}</h1>
        <h2 class="project-type">{{ page.work }}</h2>
        <p class="project-description">{{ page.description }}</p>
    </div>
</header>

<div class="home-revealer transition-revealer-hide"></div>

<a href="{{ site.baseurl }}/index.html" class="back-button"><img src="https://img.icons8.com/metro/52/000000/back.png"></a>

<article class="case-study">
    {{ content }}
</article>



<footer>
</footer>