---
layout: default
---
<header class="project-header" style="background-color:#{{ page.color }} ;">
    <div class="header-text">
        <h1 class="project-title">{{ page.title }}</h1>
        <h2 class="project-type">{{ page.work }}</h2>
        <p class="project-description">{{ page.description }}</p>
    </div>
</header>

<article class="case-study">
    {{ content }}
</article>

<svg>
    <filter id="noise" x="0%" y="0%" width="100%" height="100%" opacity>
        <feTurbulence baseFrequency="0.02 0.03" result="NOISE" numOctaves="1" id="turbulence" />
        <feDisplacementMap class="noise-map" in="SourceGraphic" in2="NOISE" scale="20" />
    </filter>
</svg>
