---
# This is the SCSS file that will be compiled to the main stylesheet of the site
---

@import "_fonts" ;

$background-colour: white;
$primary-colour: black;
$body-font: 'Noah', 'Helvetica', sans-serif;
$heading-font: 'DM Serif', 'Times New Roman', serif;
$root-font-size: 20px;
$root-font-size-mobile: 16px;

body {
  font-family: $body-font;
}


@import
  "_base",
  "_layouts",
  "_components",
  "_animations"
;


